body {
    background: #efefef;
}

.a4 {
    background: white;
    border: 1px solid #cfcfcf;
    box-shadow: 1px 1px 2px 1px #dedede;
    margin: 0 auto;
    width: 650px;
    height: 900px;   
}

h1,
p {
    text-align: center;
}

.spec {
    margin-left: 63px;
 }

.hr {
    margin: 30px 50px 30px 50px;
    
}

ul {
     margin-left: 40px;
}
